.App {
  text-align: center;  
}

.App-logo {
  height: 15vmin;
  padding: 10px; 
  float: left; 
  border-radius: 15px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.title{
  font-size: 40px;  
  text-align: left;
}
body{
  background-color: white;
}
.App-header {
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 0px 0px 100px 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  color: rgb(17, 17, 17);
  border-top: 6px solid #030616;
  border-bottom: 2px solid #03045E;
  background: linear-gradient(#03071e, white);
}
.App-nav{
  width: auto;   
  margin: 20px;
  color: rgb(248, 248, 248);
  text-align: left;
  text-decoration: none;
  background-color: #011d41;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  font-size: 20px;
  font-style: inherit;
}
nav Link{
  
  
  color: azure;
  
  
  display: block;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
