.product{
    text-align: justify;
    margin:50px;
    border: solid 0.2px grey;
    border-radius: 10px;
    padding:10px;
    height: 410px;
}
.editar{
    margin: 0px;
    float: left;
    color: white;
    background-color: rgb(0, 0, 66);
    padding: 0.3rem;
    text-decoration: none;   
    border-radius: 5px;
    width: 150px;
    height: 31px;
    text-align: center;
}
.eliminar{
    margin: 0px;
    float: left;
    color: white;
    background-color: rgb(163, 5, 18);
    border-color: rgb(163, 5, 18);
    padding: 0.3rem;
    text-decoration: none;   
    border-radius: 5px;
    width: 150px;
    height: 40px;
}
